GENIUS_TOKEN=l3tt3rs4ndnumb3rs
DISCOGS_TOKEN=m0rel3tt3rs4ndnumb3rs
VS_FOLDER=FolderPath/ToDatabase/AndPrograms/ # local path to your project's working directory (where Lyrics/, Logs/, and your .db file live)
MY_EMAIL=email@email.email # For the MusicBrainz API. A contact email is required
